/*Vivian Monsivaiz, 3/12/2026*/

/*all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 95%; 
    margin: 0 auto; 
    background: white; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px #0000001a; 
}

body {
    background: #d92323; 
    color: black; 
    text-align: center; 
    padding: 20px; 
    font-size: 1.5em; 
    background: linear-gradient(to right, #d5d8b4, #394d1e);
}

header {
    background: #d92323; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    font-size: 1.5em;
}

/*lists*/
ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; /* centers items horizontally */ 
    background-color: #f7da39 
}

li {
    Margin:0 20px;
}

/*nav*/
nav a {
    display: inline;
    text-decoration: none; 
    color: black; 
    padding: 5px; 
    font-weight: bold;
}

nav a:visited {
    text-decoration: underline; 
    color:darkgreen; 
}

nav a:hover {
    background-color: #fff; 
    color:#d92323; 
}

/*main*/
section {
    float: left; 
    width: 50%; 
    padding: 10px; 
}

main:after {
    content: ""; 
    display: table; 
    clear: both;
}

img {
    height: 50%; 
    max-width: 70%; 
    opacity:.7;  
}

img:hover {
    border: 1px solid #ddc10f; 
    opacity: 1;  
    transform: scale( 1.2); 
    transition: transform 0.5s ease-in-out; /* Smooth scaling effect */ 
}

footer {
    clear: both; /* Fix float issues */ 
    background: #d92323; 
    color: white; 
    text-align: center; 
}