/*Vivian Monsivaiz, 4/9/26*/


/*Reset Default Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Page Background */

body {
  background: linear-gradient(90deg, #6106c3, #036776, #036776,#036776, #6106c3);
  color: white;
  font-family: Arial, sans-serif;
  padding: 15px;
}

/*responsive*//*responsive*/
@media (max-width: 1024px) {
body {background: linear-gradient(#6106c3, #036776);}
}


/* Style the Headings */

h1, h2 {
  text-align: center;
  padding: 10px;
}


/* Grid Container */

.grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-rows: minmax(250px, auto);
}


/* grid item spans */

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}


/* figure */

figure {
  background: #2a1f46;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
  display: block;
}

figcaption {
  background: #00000088;
  text-align: center;
  padding: 5px;
}