/*Vivian Monsivaiz 2/26/26*/

/*Change everything--reset css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*body styles*/
Body {
    background: linear-gradient(0deg, #AA11EA, #374BCE);
    font-family: Arial, Helvetica, sans-serif;
    color: #819baf;
    line-height: 1.6;
    background-color: #f0f8ff;
}

/*header styles*/
header {
    background-color:#2c3e50;
    padding: .5rem .5rem;
    margin-bottom:.5rem;
    text-align: center;
    color: #fff;
}
h1 {
    font-size:1.5em;
}

/*navigation styles*/
nav {
    background-color: #34495e; 
    padding: .5rem 0; 
}
nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    gap: 1rem;  
}
nav a {
    color: #fff; 
    text-decoration: none;
    font-size: 1.2rem;
}
nav a:hover {
    color: #d9e8d8; 
    text-decoration: underline; 
}

/*main styles*/
main {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem; 
}
section {
    background-color: #7f818a; 
    margin-bottom: 1rem; 
    padding: .5rem; 
    border: 2px solid #0b0a3f; 
    border-radius: 8px; 
}
h2 {
    color: #180e51; 
    margin-bottom: .5rem; 
    font-size: 1rem;
}
p {
    font-size: 1rem; 
    margin-bottom: .5rem; 
    color:#fff; 
}
img {
    width: 20%; 
    height: auto;
    border-radius: 8px; 
    margin-bottom: 1rem; 
}

/*footer styles*/
footer {
    background-color: #2c3e50; 
    text-align: center; 
    padding: 1rem 0; 
    margin-top: .5rem;
}